/* Write your code here. */
.list-style {
  list-style-type: none;
}
.button-style {
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}
.img-style {
  height: 80px;
  width: 80px;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .img-style {
    height: 110px;
    width: 110px;
  }
}
.img-style-click {
  opacity: unset;
}
